/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
{
    margin :0px;
    background-color: #e0e0e0;
}

.content
{
    margin: 15px;

}

p
{
    overflow-wrap: break-word;
}

.topNavigationBar
{
    border-top: solid;
    border-bottom: solid;
    border-left : solid;
    border-right : solid;
    background-color: grey;
    display:flex;   
}

.topNavigationBar a
{
    border-right: solid black;
    box-sizing: border-box;
    padding: 5px;
}

.form_field
{
    margin : 10px;
}

.delete:link, .delete:visited {
    color: red;
}