<h1>
    ratings of <a href="<%=movie_path(@movie.id)%>"><%= @movie.title%></a>
</h1>
<div>
    <%@movie.ratings.each do |r|%>
        <p>
            <%=r.value%> | 
            <a href="<%= rating_path(r.id)%>" class="delete" data-confirm="Delete <%=r.value %> from <%= @movie.title %> ?" data-method="DELETE">delete</a>
        </p>
    <% end %>

    <%= form_tag(url: ratings_path(@movie.id), method: "post") do %>
        <%= label_tag("", "value :") %>
        <%= text_field_tag(:value) %>
        <%= submit_tag("add") %>
    <% end %>
</div>