<h1>
    genres of <a href="<%=movie_path(@movie.id)%>"><%= @movie.title%></a>
</h1>
<div>
    <%@movie.genres.each do |g|%>
        <p>
            <%=g.name%> | 
            <a href="<%= genre_path(g.id)%>" class="delete" data-confirm="Delete <%=g.name %> from <%= @movie.title %> ?" data-method="DELETE">delete</a>
        </p>
    <% end %>

    <%= form_tag(url: genres_path(@movie.id), method: "post") do %>
        <%= label_tag("", "name :") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("add") %>
    <% end %>
</div>