<!DOCTYPE html>
<html>
<head>
  <title>MoviesDB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topNavigationBar">
    <a href=<%= home_path%>>Home</a>
    <a href=<%= movies_path%>>index</a>
</div>
<div class="content">
    <%= yield %>
</div>


</body>
</html>
