<h1>
    actors of <a href="<%=movie_path(@movie.id)%>"><%= @movie.title%></a>
</h1>
<div>
    <%@movie.actors.each do |a|%>
        <p>
            <%=a.name%> | 
            <a href="<%= actor_path(a.id)%>" class="delete" data-confirm="Delete <%=a.name %> from <%= @movie.title %> ?" data-method="DELETE">delete</a>
        </p>
    <% end %>

    <%= form_tag(url: actors_path(@movie.id), method: "post") do %>
        <%= label_tag("", "name :") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("add") %>
    <% end %>
</div>