
<h2> research result for '<%= @title %>' | <a href="<%=home_path%>">back</a></h1>

<div style="border-left: solid; padding: 10px;">
    <% @list.each do |m|%>
        <div>
            <a href="<%= movie_path(m.id)%>">
                <%= m.id %>. <%= m.title %>
            </p>    
        <div>
    <% end %>
</div>