
<h1> movies list </h1>
<p>
    <a href="<%= new_movie_path%>">add new movie</a>
</p>
<div style="border-left: solid; padding: 10px;">
    <% @movies.each do |m|%>
        <div>
            <a href="<%= movie_path(m.id)%>">
                <%= m.id %>. <%= m.title %>
            </p>    
        <div>
    <% end %>
</div>