
<%= form_for @movie do |f|%>
    <div class="form_field">
        <label>title :</label>
        <%= f.text_field :title%>
    </div>
    <div class="form_field">
        <label>year :</label>
        <%= f.number_field :year%>
    </div>
    <div class="form_field">
        <label>poster :</label>
        <%= f.text_field :poster, size: "100"%>
    </div>
    <div class="form_field">
        <label>content's rating :</label>
        <%= f.number_field :contentRating, step: :any%>
    </div>
    <div class="form_field">
        <label>duration :</label>
        <%= f.text_field :duration%>
    </div>
    <div class="form_field">
        <label>release date :</label>
        <%= f.date_select :releaseDate, 
            :order => [:day, :month, :year], 
            :start_year => 1920, 
            :end_year => Date.today.year, 
            :html=>{:class => "input-mini"} 
        %>
    </div>
    <div class="form_field">
        <label>rating's average :</label>
        <%= f.number_field :averageRating, step: :any%>
    </div>
    <div class="form_field">
        <label>original title :</label>
        <%= f.text_field :originalTitle%>
    </div>
    <div class="form_field">
        <p><label>storyline :</label></p>
        
        <%= f.text_area :storyline, cols: "100", rows: "10"%>
    </div>
    <div class="form_field">
        <label>imdb rating :</label>
        <%= f.number_field :imdbRating, step: :any%>
    </div>
    <div class="form_field">
        <label>poster's url :</label>
        <%= f.url_field :posterURL, size: "100"%>
    </div>

    <div class="form_field">
        <button type="submit">create</label>
    </div>
<%end%>