<h1>
    <%= @movie.title%>
</h1>

<p>
    id : <%= @movie.id%>
</p>
<p>
    year : <%= @movie.year%>
</p>
<p>
    genres : <%= @movie.genres.map{|g| g.name}.join(", ") %>
    | <a href="<%= genres_path(@movie.id)%>">edit</a>
</p>
<p>
    ratings : <%= @movie.ratings.map{|g| g.value}.join(", ") %>
    | <a href="<%= ratings_path(@movie.id)%>">edit</a>
</p>
<p>
    content's rating : <%= @movie.contentRating%>
</p>
<p>
    duration : <%= @movie.duration%>
</p>
<p>
    release's date : <%= @movie.releaseDate%>
</p>
<p>
    rating's average : <%= @movie.averageRating%>
</p>

<%if (@movie.originalTitle != nil and @movie.originalTitle.length > 0)%>
    <p>
        original title : <%= @movie.originalTitle%>
    </p>
<%end%>

<p>
    storyline : <%= @movie.storyline%>
</p>
<p>
    actors : <%= @movie.actors.map{|g| g.name}.join(", ") %>
    | <a href="<%= actors_path(@movie.id)%>">edit</a>
</p>
<p>
    imdb rating : <%= @movie.imdbRating%>
</p>
<p>
    <a href="<%= edit_movie_path(@movie.id)%>">edit</a>
    <a href="<%= movie_path(@movie.id)%>" class="delete" data-confirm="Delete <%=@movie.title %> ?" data-method="DELETE">delete</a>
</p>
